[Unit]
Description=Python Controller Ebig
Requires=network.target
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /srv/ebig-controller/ebig-controller.py

[Install]
WantedBy=multi-user.target